.select2-container--default .select2-selection--single .select2-selection__rendered {
    background-color: #FFFFFF !important;
    border: 0.7px solid #DDDDDD !important;
    border-radius: 4px !important;
    color: #575450 !important;
    line-height: normal !important;
    font-size: 14px !important;
    padding: 10px 10px 10px 10px !important;
}

.select2-container--default .select2-selection--single {
    background-color: #FFFFFF !important;
    border: 0.7px solid #DDDDDD !important;
}

.select2-search--dropdown .select2-search__field {
    background-color: #FFFFFF;
    border: 0.7px solid #DDDDDD !important;
}

.select2-search--dropdown .select2-search__field:focus {
    border-color: black !important;
    border: 0.8px solid #0c0c0c !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: 0 !important;
    color: #353433 !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered:focus {
    border-color: black !important;
    border: 0.8px solid #0c0c0c !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: 0 !important;
    color: #353433 !important;
}

.select2-container--default .select2-selection--single:focus {
    border-color: black !important;
    border: 0.8px solid #0c0c0c !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: 0 !important;
    color: #353433 !important;
}

.select2 .select2-container .select2-container--default .select2-container--focus {
    width: 100% !important;
}

span.select2.select2-container.select2-container--default {
    width: 100% !important;
}

input.has-error {
    border-color: #fe5b1c !important;
    border: 0.8px solid #fe5b1c !important;
    background-color: #ffc0a4;
}

label.has-error {
    font-size: 0.9em;
    font-weight: 500;
    color: #fe5b1c;
}

select.has-error {
    border-color: #fe5b1c !important;
    border: 0.8px solid #fe5b1c !important;
    background-color: #ffc0a4;
}

.progress-bar {
    height: 0.95px;
    margin-bottom: 10px;
    background-color: #fe5b1c;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid black 0.9px;

    outline: 0;
}

.select2-container .select2-selection--multiple {
    min-height: 37px;
}

.select2-container--default .select2-selection--multiple {
    padding: 5px;
    border: solid rgb(209, 209, 209) 0.9px;
    color: #353433;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e5e5e5;
    border: 0.9px solid #6e6e6e;
    border-radius: 3px;
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0.1px;
}

/* DataTable */
#datatable_filter input {
    background-color: #FFFFFF;
    border: 0.7px solid #DDDDDD;
    border-radius: 4px;
    color: #575450;
    line-height: normal;
    font-size: 14px;
    box-shadow: none;
    padding: 8px;
}

div#datatable_filter {
    margin-top: 0px;
    width: 40%;
    float: right;
}

#datatable_filter input:focus {
    border: 0.6px solid #353535;
    border-radius: 4px;
    outline: 0.7px solid #ffffff;
}

.paginate_button .page-item{

}

#datatable_filter label {
    font-size: 1em;
    font-weight: 400;
    color: #0c0c0c;
}

select[name='datatable_length'] {
    background-color: #FFFFFF;
    border: 0.7px solid #DDDDDD;
}

#datatable_length label {
    font-size: 1em;
    font-weight: 400;
    color: #0c0c0c;
}

select[name='datatable_length']:focus {
    border: 0.6px solid #353535;
    border-radius: 4px;
    outline: 0.7px solid #ffffff;
}


.paginate_button{
    border: none;
}

li.paginate_button.page-item.active {
        border-color: #ef8157;
}

.paginate_button:focus{
    border: none;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #ef8157;
    border-color: #ef8157;
    user-select: none;
    text-decoration: none;
    border-width: 2px;
    font-size: .8571em;
    line-height: 1.35em;
    border: none;
        padding-bottom: 11px;
    cursor: pointer;
    transition: all .15s linear;
    outline: none;
}

.page-link{
    color: #ef8157;
}


button.dt-button.buttons-print {
    border-width: 2px;
    font-weight: 600;
    font-size: .8em;
    line-height: 1.35em;
    text-transform: uppercase;
    border: none;
    margin: 10px 1px;
    border-radius: 3px;
    padding: 11px 22px;
    cursor: pointer;
    background-color: #ef8157;
    color: #fff;
        float: right;

    transition: all .15s linear;
}

.dt-buttons {
    width: 100%;
    height: 60px;
}
